services:

  backend:
    container_name: move-backend
    build: ./backend
    ports:
      - "8001:8000"
    volumes:
      - ./backend:/app
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
      SQLALCHEMY_DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
      ASYNC_SQLALCHEMY_DATABASE_URL: "postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
      DB_HOST: "${DB_HOST}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_NAME: "${DB_NAME}"
      DB_PORT: "${DB_PORT}"
      CORS_ALLOWED_ORIGINS: "${CORS_ALLOWED_ORIGINS}"
    depends_on:
      - database
    restart: unless-stopped

  frontend:
    container_name: move-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/src:/app/src
    environment:
      INTERNAL_API_URL: "${INTERNAL_API_URL}"
      NEXT_PUBLIC_CLIENT_API_URL: "${NEXT_PUBLIC_CLIENT_API_URL}"
    depends_on:
      - backend
    restart: unless-stopped

  database:
    container_name: move-database
    image: postgres:18
    env_file:
      - .env
    environment:
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_DB: "${DB_NAME}"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data:

